<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid container-fluid-custom py-md-5 mb-5">
<min>

<div class="row py-md-5 text-center justify-content-center">
<div class="col-md-12 col-lg-6 mb-6 mb-md-0"></div>    
<h1 class="display-2 fw-bold mb-4 position-relative">
    Write your thoughts down
</h1>
<p class="fs-4 mb-4">
    Notes is simple
</p>
<a href="/auth/google" class="btn btn-primary btn-lg"> Try </a>
</div> 
    
</min>
        <h1>HELLO HOW ARE YOu</h1>
    </div>
    <%=locals.title %>
    <%=locals.description %>

</body>
</html>